[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/felinics/ui.git
[submodule "third_party/ant-browser"]
	path = third_party/ant-browser
	url = https://github.com/hextrump/ant-browser.git
